html {
  font-family: sans-serif;
  user-select: none;
}

h1 {
  text-align: center;
  font-size: 30pt;
}

.form {
  margin: 1em 0;
}

#cards {
  font-size: 30pt;
  display: flex;
  flex-direction: column;
  max-height: 500px;
}

#cards table {
  margin: 10px;
  border-spacing: 0;
  border: 20px solid lightblue;
}

#cards td {
  margin: 0;
  padding: 5px;
  width: 80px;
  height: 80px;
  border: 2px solid grey;
  line-height: 2em;
  text-align: center;
  cursor: pointer;
}

#cards td.blank {
  background-color: #eee;
  cursor: default;
}

#cards td.called {
  background-color: green;
  color: white;
}

@media only screen and (min-width: 990px) {
  h1 {
    font-size: 24pt;
  }

  #cards {
    font-size: 10pt;
    flex-wrap: wrap;
  }

  #cards table {
    border-width: 10px;
  }

  #cards td {
    width: 20px;
    height: 20px;
    border: 1px solid grey;
  }
}
