html {
  font-family: sans-serif;
  max-width: 400px;
  margin: auto;
}

h1 {
  text-align: center;
}

#current {
  font-size: 16pt;
}

.form {
  margin: 1em 0;
}

#next {
  width: 10em;
  font-size: 16pt;
}

#grid table {
}

#grid td {
  font-size: 14pt;
  padding: 4px 6px;
  border: 1px solid grey;
  line-height: 1.5em;
  text-align: center;
}

#grid td.called {
  background-color: yellow;
}

#grid td.just-called {
  background-color: green;
  color: white;
}
